//Home page specific stylings
header .social {
	text-align: right;
	margin-top: 10px;
}

header .social a {
	text-align: center;
	border: 1px solid gray;
	padding: 8px;
	min-width: 42px;
	display: inline-block;
}

.carousel-caption {
	background-color: white;
	right: 20px;
	left: 10%;
	color: black;
	text-shadow: none;
	padding: 5px 25px 15px 25px;
	opacity: 0.75;
}

.carousel-control {
	background-image: none!important;
}

.carousel-indicators {
	left: 0px;
	width: 20%;
	text-align: left;
	margin-left: 20px;
}

.excerpt {
	padding: 15px 10px;
}
