<!doctype html>
<html class="no-js" {{ wp.language_attributes }}>
{% include('includes/head.twig') %}

<body {{ wp.body_class }} >
	<div class="wrap container" role="document">
		{% include('includes/header.twig') %}
		{% include('includes/menu.twig') %}

		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	{% include('includes/footer.twig') %}
	{{ wp.wp_footer }}
</body>
</html>
